[Desktop Entry]
Type=Application
Name=PureData
GenericName=
Comment=
Icon=puredata.xpm
Exec=/usr/bin/puredata
Terminal=false
Categories=AudioVideo;Audio;
