#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

CFLAGS = -Wall -g -O2

%:
	dh --with quilt $@

override_dh_auto_configure:
	cd src && CFLAGS="$(CFLAGS)" ./configure	--prefix=/usr --enable-jack --enable-alsa

override_dh_auto_build:
	dh build --before dh_auto_build
	cd src && make
	dh build --after dh_auto_build

override_dh_auto_clean:
	dh clean --before dh_auto_clean
	cd src && [ ! -f makefile ] || make clean
	-$(RM) -rf bin/ src/config.log src/config.status src/makefile
	dh clean --after dh_auto_clean

override_dh_auto_install:
	dh install --after dh_auto_install
	chmod 644 `find debian/puredata/usr/lib/pd/doc -type f`
	chmod 755 debian/puredata/usr/lib/pd/bin/pd.tk
